#container {
}

.cell {
    width: 1.5vh;
    height: 1.5vh;
    float: left;
}

.ghost {
    background-image: url('img/ghost.svg');
}

.ghost_trail {
    /*animation: ghost_trail_animation 0.5s linear;
    animation-iteration-count: 1;
    background-image: url('img/ghost.svg');
    */
}

@keyframes ghost_trail_animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#scores {
    font-size: 1em;
    font-family: sans-serif;;
}

.row {
    overflow: hidden;
}

.wall {
    background-color: black;
}

.prize {
    animation: blinker 0.01s linear infinite alternate;
}

@keyframes blinker {
  0% {
      background-color: red;
  }
  100% {
    background-color: blue;
  }
}

.apple {
    background-image: url('img/apple.svg');
}

.banana {
    background-image: url('img/banana.svg');
}

.strawberry {
    background-image: url('img/strawberry.svg');
}
.player1 {
    background-image: url('img/glasses.svg');
}

.player2 {
    background-image: url('img/smart.svg');
}

.start {
    background-color: blue;
}

.blank {
    background-color: white;
}

.end {
    background-color: green;
}

