#container {
}

.cell {
    width: 1.5vh;
    height: 1.5vh;
    float: left;
}

.ghost {
    background-color: blue;
}

.ghost_trail {
    animation: ghost_trail_animation 0.5s linear;
    animation-iteration-count: 1;
}

@keyframes ghost_trail_animation {
    0% {
        background-color: blue;
    }
    100% {
        background-color: white;
    }
}

#scores {
    font-size: 1em;
    font-family: sans-serif;;
}

.row {
    overflow: hidden;
}

.wall {
    background-color: black;
}

.prize {
    animation: blinker 0.01s linear infinite alternate;
}

@keyframes blinker {
  0% {
      background-color: red;
  }
  100% {
    background-color: blue;
  }
}

.player1 {
    background-color: red !important;
}

.player2 {
    background-color: green !important;
}

.start {
    background-color: blue;
}

.blank {
    background-color: white;
}

.end {
    background-color: green;
}

